.coinContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.coin {
    flex: 1 1;
    max-width: 150px; 
    text-align: center;
    margin: 5px;
}